[submodule "lib/system"]
	path = lib/system
	url = ../system.git
[submodule "buergerkomitee/sai/saimod_webcraft_updates"]
	path = buergerkomitee/sai/saimod_webcraft_updates
	url = ../saimod_webcraft_updates.git
[submodule "buergerkomitee/sai/saimod_webcraft_contact"]
	path = buergerkomitee/sai/saimod_webcraft_contact
	url = ../saimod_webcraft_contact.git
