#footer-right {
    text-align: right;
}

#content-row {
    margin-bottom: 0;
}

.padding0 {
    padding: 0 !important;
}

.margin-bottom0 {
    margin-bottom: 0 !important;
}

.nav {
    font-size: 18px;
}